body {
  background-image: url("http://fc07.deviantart.net/fs70/f/2013/174/3/e/recycled_texture_background_by_sandeep_m-d6aeau9.jpg");
  font: 14px Georgia, serif;
  height: 100%;
  width: 100%;
}

span {
  font-size: 20px;
  font-weight: lighter;
  color: white;
}

h1 {
  margin: 25px 0;
  font: 14px Georgia, Serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h2 {
  font-size: 43px;
  color: white;
  text-align: center;
}

h3 {
  color: white;
  text-align: center;
  font-size: 22px;
  vertical-align: center;
}


input {
    border: 2px solid white;
    height: 18px;
    -webkit-box-shadow:
      inset 0 0 15px  rgba(0,0,0,0.1),
            0 0 20px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 15px  rgba(0,0,0,0.1),
            0 0 20px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 15px  rgba(0,0,0,0.1),
            0 0 20px rgba(0,0,0,0.1);
    padding: 1px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 6px 0;
    border-radius: 10px;
}

.form-control {
    width: 100%;
    background: #9bc7de;
    color: #200;
    outline: none;
    cursor: pointer;
    text-align: center;

    border: 2px solid white;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #300;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #300;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #300;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #300;
}

.score h3{
  position: absolute;
  color: white;
  top: 10%;
  right: 10%;
  z-index: 0;
}







#gitPicWrapper {
  position: fixed;
  top: 50px;
  right: 55px;
  z-index: 0;
}

#gitPicFrame {
  position: fixed;
  top: -10px;
  left: 0px;
  z-index: 0;
}

#userPic {
  position: fixed;
  top: 58px;
  left: 38px;
  z-index: 0;
}

#imgGit {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#menuWrapper {
  position: fixed;
  top: 50px;
  left: 140px;
  z-index: 0;
}

#scoreWrapper {
  position: fixed;
  top: 50px;
  right: 45px;
  z-index: 0;
}

#scoreKeeper {
  position: fixed;
  top: 55px;
  right: -45px;
  z-index: 0;
}

#scoreFrame {
  position: fixed;
  top: -10px;
  right: -100px;
  z-index: 0;
}

#quiz h3 {
  font-size: 17px; margin: 0 0 1px 0; color : #666;
}

#header {
  width: 100%
  left: 50%;
  z-index: -1;
  text-align: center;
}

#results {
  font : 44px Georgia, Serif;
}

#addQ {
   height: 60px;
   margin-top: 350px;
   left: 50%;
   z-index: 4;
   text-align: center;
}

#btnAddQ {
  height: 70%;
  left: 50%
  color: black;
}



/* add your own question */
#cancel {
  font-size: 16px;
  position: absolute;
  max-height: 25px;
  max-width: 100px;
  margin-left: 25%;
  margin-top: 43%;
}

#add {
  font-size: 16px;
  position: absolute;
  max-height: 25px;
  max-width: 80px;
  margin-left: -30%;
  margin-top: 43%;
}

#title {
  max-width: 800px;
}

#genre {
  max-width: 800px;
}

#myForm {
  margin: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#dropDown {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

}







/* LOGIN MENU */

/*.menu-btn div {
  position: fixed;
  left: 0%;
  top: 0%;
  padding-right: 8px;
  margin-top: -0.50em;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 200;
  vertical-align: middle;
  z-index: 99;
}

.menu-btn span {
  display: block;
  width: 19px;
  height: 3px;
  margin: 4px 0;
  background: rgb(0,0,0);
  z-index: 99;
}

.responsive-menu{
  display: none;
}

.expand {
  display: block !important;
}*/

/* END OF MENU */
