body {
  background-image: url(../images/blue_background.jpeg);
}

div {
  margin: 0 auto;
  width: 300px;
}

h5 {
  font-size: 125%;
  font-weight: lighter;
  letter-spacing: 1.5px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  color: white;
}

.btn {
   width: 300px;
   margin-top: 10px;
   height: 60px;
   top:45%;
   left: 50%;
   transform: translate3d(-50%,-50%, 0);
   position: relative;
   line-height: 15px;
   border-top: 1px solid #61baf2;
   background: #338ccc;
  /* padding: 16px 32px;*/
   border-radius: 36px;
   color: white;
   font-size: 20px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   opacity: 1;
   }

.btn:hover {
   width: 300px;
   border-top-color: #285e82;
   background: #285e82;
   color: #ccc;
   }

.btn:active {
   width: 300px;
   border-top-color: #1b435e;
   background: #1b435e;
   }

#btnGroupOuter {
  text-align: center;
  width: 340px;
  height: 315px;
  top:50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;
  z-index: 1;
  border-radius: 25px;
  background: rgb(56, 56, 83);
  border-top: 1px solid #61baf2;
  border-bottom: 4px solid #000000;
  border-right: 4px solid #1C1C2A;
  opacity: .96;
}

#qBox {
  width: 300px;
  height: 80px;
  margin: auto;
  top:29%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;
  z-index: 2;
}

#btnGroupInner {
  top: 60%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;
  z-index: 2;
}
