body {
background-image: url("http://fc07.deviantart.net/fs70/f/2013/174/3/e/recycled_texture_background_by_sandeep_m-d6aeau9.jpg");
}

h2 {
  font-size: 48px;
  color: white;
  text-align: center;
}

h3 {
  color: white;
  text-align: center;
  font-size: 22px;
}

#quiz-container {
  position: absolute;
  margin-left: 400px;
  text-align: center;
  background: burlywood;
  padding: 20px;
  border-radius: 25px;
  border-color: bisque;
  border-style: groove;
}



